body {
    background-color: black;
    margin: 0 auto;
}

#theme-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 10px 0 0 43px;
    cursor: pointer;
    border-radius: 20%;
    font-size: 15px;
    background-color: black;
    color: white;
}

.theme-block {
    position: relative;
}

.container {
    width: 1170px;
    max-width: 100%;
    min-width: 320px;
    margin: 0 auto; 
    padding: 50px 0 0 0;

}
.calc {
    width: 480px;
    max-width: 100%;
    height: 780px;
    margin: 0 auto; 
    background-color: gray;
    border-radius: 1%;
}

.calc__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

}

.calc__input-area {
    position: relative;
    display: block;
    direction: rtl;
    width: 80%;
    min-width: 240px;
    height: 100px;
    margin: 0 auto;
    font-family: 'DotGothic16', sans-serif;
    font-size: 50px;
    background: linear-gradient(to bottom, #fefcea, #f5eb9d);
    box-shadow: inset 6px 6px rgb(197, 186, 122);
}

.calc__input-glass {
    position: relative;
    width: 81%;
    height: 100px;
    margin-top: -102px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.55) 60%);
    pointer-events: none;
}

.calc__button-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    padding: 50px;
}

.calc__button {
    width: 80px;
    height: 80px;
    margin-bottom: 25px;
    font-size: 24px;
    color: #FFF;
    border-radius: 10%;
    background-color: black;
    box-shadow: 3px 3px 2px rgb(77, 71, 71);
    cursor: pointer;
}

.calc__button_color_red {
    background-color: firebrick;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .container {
        padding-top: 10px;
    }

    .calc {
        width: 350px;
        height: 640px;
        margin: 0 auto;
    }

    .calc__input-area {
        font-size: 42px;
        height: 70px;
    }

    .calc__button-area {
        padding: 55px 30px 30px 30px;
    }

    .calc__button {
        width: 60px;
        height: 60px;
        margin-bottom: 25px;
        font-size: 18px;
    }

    #theme-btn {
        position: absolute;
        width: 30px;
        height: 30px;
        margin: 10px 0 0 30px;
        font-size: 15px;
}
}